.TodoSearch{
    width: 93%;
    padding: 10px;
    margin: 12px auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    font-size: 18px;
    display: block;
}

.TodoSearch:focus{
    outline-color: chocolate;
}